
.backButton {
    border-width: 1px;
    padding:1%;
    border-radius: 5px;
    text-align:center;
    width: 8vw;
    font-size:2.0vw;
    font-family:"Verdana","Garamond","Times New Roman","Courier New";
    transition: all 0.5s ease;
    margin-left: 1vw;
    margin-bottom:2vh;
}

.backButton:hover {
    color: black;
    background-color:#E3E3E3;
    cursor: pointer;
    transition: all 0.5s ease;
}

.seasonPage {

}

.seasonPage .seasonHeader {

}

.seasonPage .seasonHeader .seasonTitle {
    font-size:3.2vw;
    font-family:"Verdana","Garamond","Times New Roman","Courier New";
}

.seasonPage .seasonHeader .seasonDescription {
    font-size:1.2vw;
}

.seasonPage .seasonBody {

}

.seasonPage .seasonBody .leftSide {

}

.seasonPage .seasonBody .leftSide .videoContainer {
    margin-left:auto;
    margin-right:auto;
    height:30rem;
}

.seasonPage .seasonBody .leftSide .videoContainer .embedVid {
    width: 100%;
    height: 100%;
}

.seasonPage .seasonBody .leftSide .episodeDescription {
    font-size:1.7vw;
}

.seasonPage .seasonBody .rightSide {

}

.seasonPage .seasonBody .rightSide .episodeHeader {
    font-size:2vw;
    margin-bottom: 1.5vh;
    margin-left:27%;
}

.seasonPage .seasonBody .rightSide .episodes {

}

.seasonPage .seasonBody .rightSide .episodes .episodeContainer {
    transition: all 0.5s ease-in-out;
    width:100%;
    height:4rem;
}

.seasonPage .seasonBody .rightSide .episodes .episodeContainer:hover {
    cursor:pointer;
    box-shadow: 0 0 1em white;
    height:5rem;
    width:100%;
    transition: all 0.5s ease-in-out;
}

.seasonPage .seasonBody .rightSide .episodes .episodeContainer .anker {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
}

.seasonPage .seasonBody .rightSide .episodes .episodeContainer .anker .episodeThumbnail {
    padding: 4vh 0.5vw;
}

.seasonPage .seasonBody .rightSide .episodes .episodeContainer .anker .episodeName {
    font-size:1.4vw;
    padding: 4vh 2px;
    top: 0%;
    transform: translate(0%, 7%);
}